# Executables
*.exe
*.out
*.app

.venv

# Modelos
*.onnx

# Videos
*.mp4

# Ignorar directorios generados automáticamente
person_tracking_refactored.egg-info/

# Archivos compilados de python  (Especificos del entorno y version de python utilizada)
*\__pycache__


docker-compose.yml
Dockerfile
fast-requirements.txt
.build
.idea